
body{
    float: center;
    background-color: #e5eff5;
    font-family: "karla", sans-serif;
}
.container{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 80%;
    max-width: 400px;
}

.call{
    background-color: #fff;
    padding: 6px 40px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.call-h1{
    color: #2ab2af;
    font-size: 22.4px;
    font-weight: bold;
}
.call-h2{
    color: #c0df34;
    font-size: 19px;
    font-weight: bold;
}
.call-p{
    color: #98a6bd;
    line-height: 2;
}

.sub{
    color: #fff;
    background-color: #2ab2af;
    padding: 8px 40px;
    width: 100%;
}

.sub-h1{
    font-size: 22px;
    font-weight: 600;
    margin-top: 13px;
}
.price{
    display: flex;
    align-items: center;
    height: 20px;
    margin-top: 35px;
}
.sub-span1{
    font-size: 42px;
    font-weight: bold;
}
.sub-span2{
    opacity: .4;
    padding: 16px;
}
.sub-p{
    font-size: 15px;
    margin-top: 16px;
}
.sub-btn{
    background-color: #c0df34;
    text-align: center;
    margin: 35px 0;
    padding: 15.5px 0;
    border-radius: 5px;
}
.signup-btn{
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    font-family: sans-serif;
    text-decoration: none;
}
.why{
    background-color: #2ab2af;
    color: #fff;
    opacity: .6;
    width: 100%;
    padding: 6px 40px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.why-h1{
    font-size: 24px;
    font-weight: bold;
}

.monifesto-link {
    color: #fff;
    opacity: .5;
    text-decoration: none;
}
.manifesto{
    list-style: none;
    display: inline-block;
    padding: 0;
    margin-top: 0;
}
li{
    padding: 3px;
    list-style-position: none;
}