@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --paleblue: hsl(225, 100%, 94%);
  --brightblue: hsl(245, 75%, 52%);
  --verypaleblue: hsl(225, 100%, 98%);
  --verypaleblueplus: hsl(225, 100%, 96%);
  --desaturatedblue: hsl(224, 23%, 55%);
  --darkblue: hsl(223, 47%, 23%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Red Hat Display", sans-serif;
}

body {
  background-image: url("/images/pattern-background-mobile.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: fixed;
  background-color: var(--paleblue);
}

.card {
  width: 350px;
  background-color: var(--verypaleblue);
  color: var(--desaturatedblue);
  border-radius: 20px;
  overflow: hidden;
  margin: 50px auto;
}

.hero-image {
  width: 100%;
}

.card-details {
  padding: 35px 30px 25px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  font-weight: 500;
}

.card-details > * {
  margin: 15px 0;
}

.title {
  font-size: 35px;
  font-weight: 900;
  color: var(--darkblue);
  margin-top: 0;
  margin-bottom: 5px;
}

.order-discription {
  line-height: 25px;
  text-align: center;
  font-weight: 500;
}

.card-pricing {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--verypaleblueplus);
  padding: 20px;
  border-radius: 10px;
}
.group-img-tag {
  display: flex;
  align-items: center;
}
.price-tag {
  margin-left: 14px;
  display: inline-block;
}
.price-tag > strong {
  color: var(--darkblue);
  font-size: 18px;
  font-weight: 900;
}
.card-pricing > a {
  text-decoration: none;
  color: var(--brightblue);
  font-weight: 700;
}

button {
  border-radius: 10px;
  border: none;
  font-size: 1rem;
  font-weight: 900;
  cursor: pointer;
}

.payment-btn {
  padding: 15px;
  background-color: var(--brightblue);
  color: var(--verypaleblue);
  box-shadow: 0 20px 15px hsl(245deg 75% 89.48%);
}
.cancel-btn {
  background-color: var(--verypaleblue);
  color: var(--desaturatedblue);
}

.card-pricing > a:active, .payment-btn:active {
  opacity: 0.7;
}
.cancel-btn:active {
  color: var(--darkblue);
}
@media screen and (max-width: 375px) {
  .card {
    width: 350px;
  }
  
}

@media screen and (width > 500px) {
  body{
    background-image: url("/images/pattern-background-desktop.png");
  }

  .card {
    width: 400px;
  }
}